html,body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
}

.app_wrapper .logo{
    text-align: center;
    margin-top: 2rem;
}

.app_wrapper .logo img{
    max-width: 25rem;
    width: 100%;
}

.app_wrapper .content{
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}

.app_wrapper .content aside{
    min-width: 15rem;
    text-align: center;
    border: 1px solid #000;
    border-radius: 1.5rem;
    margin-right: 3rem
}

.app_wrapper .content aside ul{
    list-style-type: none;
    color: #f15a24;
    padding-left: 0;
}

.app_wrapper .content aside ul > li{
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
}


.app_wrapper .content aside ul > li.active span{
    color:#000;
    text-decoration: underline;
}

.app_wrapper .content main{
    text-align: center;
    width:100%;
}

.app_wrapper .content main .dance_block{
    padding: 0 0 1.5rem;
}

.app_wrapper .content main .dance_block img {
    width: 100%;
    max-width: 6rem;
}

.app_wrapper .content main .text{
    min-height: 10rem;
    font-size: 30px;
    padding: 2rem;
}

.app_wrapper .content main .text:before,
.app_wrapper .content main .text:after{
    content: '"'
}

.app_wrapper .content main .btn{
    background: none;
    box-shadow: none;
    border:2px solid #f15a24;
    color: #f15a24;
    padding: .5rem;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.app_wrapper .content main .btn:hover{
    background: #f15a24;
    color:#fff;
}

@media all and (max-width: 600px){
    .app_wrapper .content{
        flex-direction: column;
    }
    .app_wrapper .content aside{
        width: 100%;
        margin-bottom: 2rem;
    }
}